@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Stint+Ultra+Condensed&display=swap");
@import "tailwindcss";

@import "./satoshi.css";

:root {
    --main-color: #ffffff;
}

@theme inline {
    --color-main-color: var(--main-color);
}

html {
    font-size: 16px;
}

body {
    color: var(--main-color);
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
}

h1 {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    line-height: 109px;
}

h2 {
    font-family: "Stint Ultra Condensed", serif;
    font-weight: 400;
    font-size: 48px;
}

button {
    font-family: "Stint Ultra Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    padding: 15px 25px;
    border: solid 2px var(--main-color);
    text-transform: uppercase;
}

p {
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
}

section {
    height: 100vh;
}

section .home {
    background-image: url("/Landing.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

section .about {
    background-image: url("/About.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

section .projects {
    background-image: url("/Projects.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

section .contacts {
    background-image: url("/Chair.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.content-container {
    display: flex;
    padding: 40px;
    width: 100%;
    height: 100%;
}
