@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Stint+Ultra+Condensed&display=swap");
@import "tailwindcss";

@import "./satoshi.css";

:root {
    --main-color: #ffffff;
    --secondary-color: #000511;
}

@theme inline {
    --color-main-color: var(--main-color);
    --color-secondary-color: var(--secondary-color);
}

html {
    font-size: 16px;
}

body {
    color: var(--main-color);
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
}

h1 {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7vw;
    line-height: 5.5vw;
}

h2 {
    font-family: "Stint Ultra Condensed", serif;
    font-weight: 400;
    font-size: 2.5vw;
}

button {
    font-family: "Stint Ultra Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    padding: 15px 25px;
    border: solid 2px var(--main-color);
    text-transform: uppercase;
}

p {
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-size: 1.6vw;
    line-height: 1.7vw;
}

@media (width <= 768px) {
    p {
        font-size: 3vw;
        line-height: 3vw;
    }
    h1 {
        font-size: 10.5vw;
        line-height: 8.6vw;
    }
    h2 {
        font-size: 4vw;
    }
    button {
        font-size: 4vw;
    }
}

section {
    height: 100vh;
}

section .home {
    background-image: url("/Landing.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

section .about {
    background-image: url("/About.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

section .projects {
    background-image: url("/Projects.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

section .contacts {
    background-image: url("/Chair.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.content-container {
    display: flex;
    padding: 40px;
    width: 100%;
    height: 100%;
}
